{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/tasnimlima07"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/tasnim_lima_07"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://www.twitter.com/in/TasnimLima2"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/tasnimlima"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} All rights reserved. Designed by <a href="https://www.linkedin.com/in/tasnimlima" >Tasnim Lima</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->